langchain
langchain-community
langchain-chroma
langchain-text-splitters
langchain-huggingface
langchain-ollama
chromadb
streamlit
pypdf
sentence-transformers
transformers
torch
torchvision
numpy
pytesseract
Pillow
pdf2image
python-dotenv
requests
